

<h1>Friends</h1>
<div class="table-responsive">
  <table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
      <tr>
        <th><strong>First name</strong></th>
        <th><strong>Last name</strong></th>
        <th><strong>Email</strong></th>
        <th><strong>Phone</strong></th>
        <th><strong>Twitter</strong></th>
        <th><strong>Show</strong></th>
      </tr>
    </thead>

    <div id="friends">
      <% @friends.each do |friend| %>
        <tr>
            <%= render friend %>
          <td>
            <%= link_to "Show", friend %>
          </td>
        </tr>
      <% end %>
    </div>

  </table>
</div>

<%= link_to "New friend", new_friend_path, class: "btn btn-secondary" %>
