<p style="color: green">
  <%= notice %>
</p>

<h1>All Friends</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col"><strong>First name</strong></th>
      <th scope="col"><strong>Last name</strong></th>
      <th scope="col"><strong>Email</strong></th>
      <th scope="col"><strong>Phone</strong></th>
      <th scope="col"><strong>Twitter</strong></th>
    </tr>
  </thead>

  <div id="friends">
    <% @friends.each do |friend| %>
      <%= render friend %>

        <tbody>
          <%= link_to "Show this friend" , friend %>
        </tbody>
        <% end %>
  </div>
  
</table>

<%= link_to "New friend" , new_friend_path %>